.card {
    background-color: #e9dfb1;
    box-shadow: rgba(0, 0, 0, 0.36) 0 10px 10px 7px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s ease;
    max-width: 90%;
    min-width: 300px;
    margin: 0 auto;
    display: flex; /* Center horizontally */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text horizontally */
}

.card-img-top {
    max-width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.card-text {
    font-size: 1em;
    margin: 5px 0;
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.card-footer {
    padding: 10px;
    border-top: 1px solid #ccc;
}

.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #1e7e34;
}
