@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(254 243 199);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
